<tr>
  <td></td>
  <td><%= client.name %></td>
  <td><%= client.email %></td>
  <td><%= client.services.count %></td>
  <td><%= client.requests.count %></td>
  <td><%= client.last_sign_in_at %></td>
  <td><%= client.last_sign_in_ip %></td>
  <td><%= link_to "Detail", admin_client_path(client) %></td>
</tr>
