<% a = data.values.map &:count %>
<% b = data.values.map{|requests| requests.select(&:success?).count} %>

<div class="row">
  <div class="col-md-9 col-xs-12">
    <div id="chart_number_requests">
    </div>
  </div>

  <div class="col-md-3 col-xs-12">
    <h4>Top 5 most usage app</h4>
    <br><br>
    <% no1 = @top_app.first.second.second %>
    <% @top_app.each do |app| %>
      <div class="widget_summary">
        <div class="w_left w_25">
          <span><%= app.second.first %></span>
        </div>
        <div class="w_center w_55">
          <div class="progress">
            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="<%= app.second.second %>" aria-valuemin="0" aria-valuemax="<%= no1 %>" style="width: <%= (app.second.second.to_f/no1.to_f*100) %>%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
        </div>
        <div class="w_right w_20">
          <span><%= app.second.second %></span>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    Highcharts.chart('chart_number_requests', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Requests chart'
      },
      subtitle: {
        text: 'From this month'
      },
      xAxis: {
          categories: <%= data.keys.map(&:to_s).to_s.html_safe %>,
          crosshair: true
      },
      yAxis: [
        {
          labels: {
            format: '{value} requests',
            style: {
              color: Highcharts.getOptions().colors[1]
            }
          },
          title: {
            text: 'Requests',
            color: Highcharts.getOptions().colors[1]
          }
        },
        {
          labels: {
            format: '{value}%',
            style: {
              color: Highcharts.getOptions().colors[0]
            }
          },
          title: {
            text: 'Percent Success',
            color: Highcharts.getOptions().colors[0]
          },
          opposite: true
        }
      ],
      tooltip: {
          shared: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [
        {
          name: 'Number of requests',
          type: 'column',
          yAxis: 0,
          data: <%= a %>,
          tooltip: {
            valueSuffix: ' requests'
          }
        },
        {
          name: 'Percent success',
          type: 'spline',
          yAxis: 1,
          data: <%= a.each_with_index.map {|value, i| (b[i].to_f / a[i].to_f * 100).to_i} %>,
          tooltip: {
            valueSuffix: ' %'
          }
        }
      ]
    });
  });
</script>
