<table id="datatable" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="stt">#</th>
      <th>Date</th>
      <th>Number of requests</th>
      <th>Success</th>
      <th>Error</th>
      <th>Average</th>
      <th>Total words</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% data.each do |date, requests| %>
      <% a = requests.size %>
      <% b = requests.select(&:success?).length %>
      <tr>
        <td></td>
        <td><%= date %></td>
        <td><%= a %></td>
        <td><%= b %></td>
        <td><%= a - b %></td>
        <td><%= requests.map(&:duration).reduce(:+).to_i / requests.count %></td>
        <td><%= requests.map(&:number_of_words).reduce(:+) %></td>
        <td>View</td>
      </tr>
    <% end %>
  </tbody>
</table>
