<table id="datatable" class="table table-striped table-bordered dataTable no-footer">
  <thead>
    <tr>
      <td class="stt">#</td>
      <td>Date</td>
      <td>Number of requests</td>
      <td>Success</td>
      <td>Fail</td>
      <td>Average Duration</td>
      <td>Total word</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |row| %>
      <tr>
        <td></td>
        <td><%= row.first %></td>
        <td><%= row.second.count %></td>
        <td><%= row.second.select{|r| r.success?}.count %></td>
        <td><%= row.second.select{|r| r.error?}.count %></td>
        <td><%= row.second.map(&:duration).reduce(:+).to_i / row.second.count %></td>
        <td><%= row.second.map(&:token_number).reduce(:+) %></td>
        <td><%= link_to "View", requests_client_path(current_client, date: row.first), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
