<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Request </span>
    <div class="count"><%= @today_requests.nil? ? 0 : @today_requests.size %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> Total Word</span>
    <div class="count"><%= @today_requests.nil? ? 0 : @today_requests.sum(:number_of_words) %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Request Success</span>
    <div class="count green"><%= @today_requests.nil? ? 0 : @today_requests.success.size %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Request Error</span>
    <div class="count"><%= @today_requests.nil? ? 0 : @today_requests.error.count %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Average Duration (s)</span>
    <div class="count"><%= @today_requests.nil? ? 0 : @today_requests.avg(:duration).to_i %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Average Per Word (s)</span>
    <div class="count">
      <% begin %>
        <%= (@today_requests.sum(:duration) / @today_requests.sum(:number_of_words)) %>
      <% rescue %>
        <%= 0 %>
      <% end %>
    </div>
  </div>
</div>
