<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
        <h1><%= t "login_form" %></h1>
        <div>
          <%= f.text_field :email, autofocus: true, class: "form-control",
            placeholder: "Email", required: true %>
        </div>
        <div>
          <%= f.password_field :password, autofocus: true, class: "form-control",
            placeholder: "Password", required: true  %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox-inline">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div>
          <%= f.submit "Login", class: "btn btn-default submit" %>
          <a class="reset_pass" href="#"><%= t "lost_password" %></a>
        </div>
        <div class="clearfix"></div>
      <% end %>
    </section>
  </div>
</div>
